<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Prediction of electricity prices</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent"> </div>
    </div>
  </nav>
  <div class="text-center text-white opaque-overlay py-5 bg-primary" style="">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-6"> <i class="d-block fa fa-3x fa-bar-chart"></i>
          <h2 class="my-3">Statistical prediction</h2>
          <p>The future electricity price is predicted by statistical model. This model uses ARIMA statistical method.</p>
        </div>
        <div class="col-md-6 p-4"> <i class="d-block fa fa-3x fa-th"></i>
          <h2 class="my-3">Machine learning prediction</h2>
          <p>MLP artificial neural network is used to predict future electricity prices.&nbsp;&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-secondary py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Upload your dataset
            <br> </h1>
          <form method="post" enctype="multipart/form-data" action="/upload"> <span class="btn btn-default btn-file"><input type="file" class="btn btn-light" name="dataset" style="width:500px">
              </span>
            <input type="submit" value="Upload" class="btn btn-light btn-lg"> </form>
        </div> {% if invalid_extension %}
        <div class="alert alert-danger" style="margin-top:18px;"> <strong>Error</strong> Your file contains invalid extension! Valid extensions are csv and xls files! </div> {% endif %} {% if empty_upload %}
        <div class="alert alert-danger" style="margin-top:18px;"> <strong>Error</strong> No selected file! </div> {% endif %} </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-12 align-self-center"></div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Michal Ostrodický - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>